:root{
  --white: #fff;
  --whitee: #f5f5f5;
  --black: #000;
  --green: #00d000;
  --white-hover: #ddd;
  --bg: #EDF2EF;
  --pink: #fd4155;
  --white-text: #F6F2FF;
  --black-text: #1C2121;
  --sidenav: #212738;
  --sidenav-hover: #363F59;
  --input-color: #323630;
}