nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 30px;
	box-shadow: 0 0 20px #00000010, 0 0 20px #00000010;
	background-color: var(--whitee);
}

nav ul a li {
	color: var(--black-text);
	font-size: 16px;
}

nav ul {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
/* 
nav ul i {
	font-size: 50px;
} */

nav ul li {
  position: relative;
	display: flex;
	column-gap: 10px;
	align-items: center;
	cursor: pointer;
}

nav ul #search {
	width: 350px;
	padding: 0 5px 0 0;
	border-radius: 2px;
	background-color: var(--white-hover);
}

nav ul #search i {
	padding: 0 5px;
	color: var(--input-color);
	border-left: 1px solid var(--input-color);
}

nav input {
	width: 100%;
	padding: 0.5vw;
	font-size: 14px;
	border: none;
	background-color: transparent;
	color: var(--input-color);
}

nav input:focus {
	outline: none;
}

nav input::placeholder {
	color: var(--input-color);
}

nav ul li img {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	object-fit: cover;
}

nav ul .modal{
	position: absolute;
	top: 20px;
	right: 5px;
  height: 300px;
	width: 240px;
	display: none;
  justify-content: center;
	align-items: center;
	padding: 10px 5px;
	flex-direction: column;
	border-radius: 5px;
  font-size: 12px;
  color: var(--black-text);
	background-color: var(--white);
	cursor: default;
	box-shadow: 0 0 10px #00000010, 0 0 10px #00000010;
}

nav ul .modal i{
  font-size: 60px;
}

nav ul .pfp {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul .pfp .status {
	position: absolute;
	bottom: -3px;
	right: 0;
	height: 10px;
	width: 10px;
	border: 1px solid var(--white);
	border-radius: 50%;
	background-color: var(--green);
}

nav .pfpHover {
	position: absolute;
	top: 35px;
	right: 5px;
	width: 150px;
	display: none;
	row-gap: 5px;
	align-items: start;
	padding: 10px 5px;
	flex-direction: column;
	border-radius: 5px;
	background-color: var(--white);
	cursor: default;
	box-shadow: 0 0 10px #00000010, 0 0 10px #00000010;
}

nav .pfpHover a {
	width: 100%;
}

nav .pfpHover a li {
	width: 100%;
	display: inline-block;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
}

nav .pfpHover a:hover {
	background-color: var(--white-hover);
}

#sidenav {
	height: 100vh;
	overflow-y: scroll;
	width: 350px;
	display: flex;
	flex-direction: column;
	padding: 10px 5px;
	color: var(--white-text);
	background-color: var(--sidenav);
}

#sidenav .name {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
  color: var(--white-text);
  text-transform: capitalize;
}

#sidenav h1 {
	font-size: 15px;
  text-wrap: nowrap;
}

#sidenav img {
	height: 40px;
	width: 40px;
	object-fit: cover;
	filter: brightness(25);
}

#sidenav ul {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	margin-bottom: 15px;
}

#sidenav ul p {
  padding: 0 10px 0;
	font-size: 14px;
	text-transform: uppercase;
}

#sidenav ul li {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	cursor: pointer;
	padding: 10px;
	border-radius: 5px;
}

#sidenav ul .active{
  background-color: var(--sidenav-hover);
}

#sidenav ul li:hover {
	background-color: var(--sidenav-hover);
}

#sidenav ul li .l i {
	font-size: 18px;
}

#sidenav ul li i {
	font-size: 16px;
}

#sidenav .l {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

#sidenav ul:last-child {
  margin-bottom: 0;
}