@media only screen and (max-width: 767px) {
	#sidenav {
		display: none;
		width: 0;
	}
	nav ul #search {
		width: 45vw;
	}
	#main {
		height: 100%;
		overflow-y: auto;
	}
	.lup,
	.up,
	.lbtm,
	.btm {
		margin-bottom: 20px;
	}
}