@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	/*outline: 1px dotted red;*/
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 500;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: #000;
}

section {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 5vw;
	padding: 0 5vw;
	color: #2e2e2e;
}

.navbar {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 5rem;
	text-transform: uppercase;
	background-color: #000;
}

.logo {
	font-size: 2vw;
	font-weight: 800;
	text-transform: lowercase;
	color: #fafafa;
}

.nav-links {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.heading {
	font-size: 5vw;
	font-weight: 800;
	text-transform: capitalize;
	color: #fafafa;
}

p {
	width: 80%;
	text-align: center;
	font-size: 1.2vw;
	color: #fafafa;
}

a {
	color: #fafafa;
	font-weight: 400;
}

.cta {
	display: flex;
	align-items: center;
	column-gap: 1em;
	padding: .2em .5em;
	font-size: .9em;
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid #dedede;
	border-radius: 2vw;
	background-color: #fafafa;
	cursor: pointer;
	transition: box-shadow .5s ease;
}

.cta i {
	padding: .2em;
	border-radius: 50%;
	color: #fafafa;
	background-color: #000;
}